<h1><%=@character.name%></h1>
<h3><%=@character.race%></h3>
<h3><%=@character.lore%></h3>
<h3><%=@character.power%></h3>
<br>
<form method="post" action="/chracters/<%=@character.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Character">
</form>

<a href="/characters/<%=@character.id%>/edit">Edit Character </a>
